*.nextflow*
*report*
*timeline*
*nxf*
*mamba*
*.command*
*output*
scratch
pf_test
libjansi-64.so
cleanup
settings*
input/
outDir/
*.log
*.out
*.err
*.json
*.yaml
*.ipynb
NOE*
moimix
*_files
gc_*
CNV*
outdated
annotation_post.sh
coverage.nf
variant_summary*
non_covered
post_run.sh
trial*/
*.xlsx
3d7*
pf3d7*
Pf3D7*
dd2*
genes*
PlasmoDB-*
fastaseq*
amplicons*
GATK*
read_group_extractor.sh