conda.enabled = true
conda.useMamba = true
workDir = 'scratch'
resume = true

params {

	// input parameters
  outDir = "${params.outDir}"
  reads = "${projectDir}/test_fq/test_{1,2}.fastq.gz"
  sampleid = "${params.sampleid}"
  reference = "${projectDir}/reference/Pf3D7.fasta"
  bedfile = "${projectDir}/reference/genes.bed"
  threads = 6

  // filtering parameters
  varqual = 15
  varthres = 0.10
  mapqual = 15
  depth = 5
  strandthres = 0.05
  mapqual = 15
  depth = 5
  seed_length = 100
  
  // tools
  vcf2table = "${projectDir}/scripts/vcf2table.py"
  parse_stats = "${projectDir}/scripts/parse_stats.py"

}
